















<template name="nav4">

    <nav>
        <header>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Logo</a>
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </header>

        <ul id="slide-out" class="side-nav fixed">
            <li>
                <a href="#!"><i class="small mdi-action-list"></i>Feed</a>
            </li>
            <li>
                <a href="#!"><i class="small mdi-communication-contacts"></i>Contacts</a>
            </li>
            <li>
                <a href="#!"><i class="small mdi-notification-event-note"></i>Campaigns</a>
            </li>
            <li>
                <a href="#!"><i class="small mdi-communication-email"></i>Email</a>
            </li>
            <li>
                <a href="#!"><i class="small mdi-action-assessment"></i>Analytics</a>
            </li>
        </ul>
    </nav>

</template>

<template name="nav1">
    <header>
        <!-- Navbar goes here -->
        <nav>
            <ul id="slide-out" class="side-nav fixed">
                <li><a href="#!">Logo</a>
                </li>
                <li><a href="#!">Feed</a>
                </li>
                <li><a href="#!">Contacts</a>
                </li>
                <li><a href="#!">Campaigns</a>
                </li>
                <li><a href="#!">Email</a>
                </li>
                <li><a href="#!">Analytics</a>
                </li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </nav>
    </header>

</template>

<template name="nav2">
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Logo</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html">Sass</a>
                    </li>
                    <li><a href="components.html">Components</a>
                    </li>
                    <li><a href="javascript.html">Javascript</a>
                    </li>
                    <li><a href="mobile.html">Mobile</a>
                    </li>
                </ul>
                <ul class="side-nav fixed" id="mobile-demo">
                    <li><a href="sass.html">Sass</a>
                    </li>
                    <li><a href="components.html">Components</a>
                    </li>
                    <li><a href="javascript.html">Javascript</a>
                    </li>
                    <li><a href="mobile.html">Mobile</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

</template>

<template name="nav3">
    <!-- Navbar goes here -->
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="mdi-action-search left"></i>Link with Left Icon</a>
                </li>
                <li><a href="components.html"><i class="mdi-action-view-module right"></i>Link with Right Icon</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page Layout here -->
    <div class="row">

        <div class="col s12 m4 l3">
            <!-- Note that "m4 l3" was added -->
            <!-- Grey navigation panel

              This content will be:
          3-columns-wide on large screens,
          4-columns-wide on medium screens,
          12-columns-wide on small screens  -->

            <nav>

                <ul id="slide-out" class="side-nav fixed">
                    <li><a href="#!">First Sidebar Link</a>
                    </li>
                    <li><a href="#!">Second Sidebar Link</a>
                    </li>
                </ul>
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </nav>

        </div>

        <div class="col s12 m8 l9">
            <!-- Note that "m8 l9" was added -->
            <!-- Teal page content

              This content will be:
          9-columns-wide on large screens,
          8-columns-wide on medium screens,
          12-columns-wide on small screens  -->

            This content will be: 9-columns-wide on large screens, 8-columns-wide on medium screens, 12-columns-wide on small screens


        </div>

    </div>
</template>