<template name="restaurantAnalyticsTmpl">
	<div class="row">
	    <div class="col s12">
	      <ul class="tabs">
	        <li class="tab col s3">
	        	<a href="#test1">Menu Revenue</a>
	        </li>
	        <li class="tab col s3">
	        	<a href="#test2">Menu Ratings</a>
	        </li>
	        <li class="tab col s3">
	        	<a href="#test3">Disabled Tab</a>
	        </li>
	        <li class="tab col s3">
	        	<a href="#test4">Test 4</a>
	        </li>
	      </ul>
	    </div>
	</div>

	<div class="z-depth-2 tabsContainer row">
		<div id="test1" class="col s12">
			<table class="bordered hoverable centered">
			  <thead class="light-blue lighten-5 light-blue-text text-darken-1">
			    <tr>
			        <th data-field="id">#</th>
			        <th data-field="name">Course</th>
			        <th data-field="price">Dish</th>
			        <th data-field="price">Daily Avg</th>
			        <th data-field="price">Monthly Avg</th>
			        <th data-field="price">Segment Ranking</th>
			        <th data-field="price">Rating</th>
			        <th data-field="price"></th>
			    </tr>
			  </thead>

			  <tbody>
			    <tr>
			      <td>1</td>
			      <td>Appetizers</td>
			      <td>Garlic Bread</td>
			      <td>43</td>
			      <td>1323</td>
			      <td>2</td>
			      <td>70% 
					<div class="progress">
					      <div class="determinate" style="width: 70%"></div>
					  </div>
			      </td>
			      <td><i class="mdi-navigation-more-vert"></i></td>
			    </tr>
			    <tr>
			      <td>2</td>
			      <td>Appetizers</td>
			      <td>Chicken Nuggets</td>
			      <td>32</td>
			      <td>1002</td>
			      <td>1</td>
			            <td>88% 
			      		<div class="progress">
			      		      <div class="determinate" style="width: 88%"></div>
			      		  </div>
			            </td>
			      <td><i class="mdi-navigation-more-vert"></i></td>
			    </tr>
			    <tr>
			      <td>3</td>
			      <td>Mains</td>
			      <td>Chicken Alfredo Pizza</td>
			      <td>35</td>
			      <td>1231</td>
			      <td>2</td>
			      <td>67 % 
					<div class="progress">
					      <div class="determinate" style="width: 67%"></div>
					  </div>
			      </td>
			      <td><i class="mdi-navigation-more-vert"></i></td>
			    </tr>
			    <tr>
			      <td>4</td>
			      <td>Mains</td>
			      <td>Penne Arrabiata</td>
			      <td>45</td>
			      <td>1464</td>
			      <td>1</td>
			      <td>77% 
					<div class="progress">
					      <div class="determinate" style="width: 77%"></div>
					  </div>
			      </td>
			      <td><i class="mdi-navigation-more-vert"></i></td>
			    </tr>
			    <tr>
			      <td>5</td>
			      <td>Desserts</td>
			      <td>Tiramisu</td>
			      <td>54</td>
			      <td>1653</td>
			      <td>1</td>
			      <td>93% 
					<div class="progress">
					      <div class="determinate" style="width: 93%"></div>
					  </div>
			      </td>
			      <td><i class="mdi-navigation-more-vert"></i></td>
			    </tr>
			    <tr>
			      <td>6</td>
			      <td>Desserts</td>
			      <td>Lemon Cheesecake</td>
			      <td>21</td>
			      <td>563</td>
			      <td>2</td>
			      <td>62% 
					<div class="progress">
					      <div class="determinate" style="width: 62%"></div>
					  </div>
			      </td>
			      <td><i class="mdi-navigation-more-vert"></i></td>
			    </tr>
			  </tbody>
			</table>
		</div>
		<div id="test2" class="col s12">Test 2</div>
		<div id="test3" class="col s12">Test 3</div>
		<div id="test4" class="col s12">Test 4</div>	
	</div>
</template>